<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/employee/profile.css">
    <title>profile</title>
</head>
<body>
    
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/home">HustleJobs</a>
            </div>
            <div class="navlinks">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/jobs">Job List</a></li>
                    <li><a href="/employer">Employer</a></li>
                    <li><a href="/employee">Employee</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="details-container">
        <div class="sidebar">
            <ul>
                <li><a href="/profile"><i>Profile</i></a></li>
                <li><a href="/change-pass"><i>Change Password</i></a></li>
                <li><a href="/profession"><i>Professional Qualification</i></a></li>
                <li><a href="/language"><i>Language Proficiency</i></a></li>
                <li><a href="/training"><i>Training & workshop</i></a></li>
                <li><a href="/referees"><i>Referees</i></a></li>
                <li><a href="/academics"><i>Academic Qualification</i></a></li>
                <li><a href="/experience"><i>Working Experience</i></a></li>
                <li><a href="/applied-jobs"><i>Applied Jobs</i></a></li>
                <li><a href="/logout"><i>Logout</i></a></li>
            </ul>
        </div>

        <div class="details">
            <h1>Profile</h1>
            <form action="/profile" method="POST">
                <div class="form-row">
                    <div class="first_name-section">
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" name="f_name" value="{{.newUser.Name}}" required>
                    </div>
                    <div class="last_name-section">
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" name="l_name" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="born-section">
                        <label for="born">Born</label>
                        <input type="text" id="born" name="born" required>
                    </div>
                    <div class="email-section">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{.newUser.Email}}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="education-section">
                        <label for="education1">Education</label>
                        <input type="text" id="education1" name="ed_level" placeholder="e.g Degree" required>
                    </div>
                    <div class="education-section">
                        <label for="education2">Course</label>
                        <input type="text" id="education2" name="ed_course" placeholder="e.g Computer science" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="gender-section">
                        <label for="gender">Gender</label>
                        <input type="text" id="gender" name="gender" required>
                    </div>
                    <div class="city-section">
                        <label for="city">City</label>
                        <input type="text" id="city" name="city" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="street-section">
                        <label for="street">Street</label>
                        <input type="text" id="street" name="street" required>
                    </div>
                    <div class="zipcode-section">
                        <label for="zip">Zip</label>
                        <input type="text" id="zip" name="zip" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="county-section">
                        <label for="county">County</label>
                        <select id="county" class="counties" name="county">
                            <option>Nairobi</option>
                        </select>
                    </div>
                    <div class="phone-section">
                        <label for="phone-number">Phone Number</label>
                        <input type="text" id="phone-number" name="phone" required>
                    </div>
                </div>

                <div class="about-me-section">
                    <label for="about-me">About Me</label>
                    <textarea id="about-me" rows="4" name="about" required></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="footer">
        <footer>
            <div class="about-container">
                <h1 class="about-heading">About Hustle Jobs</h1>
                <p>Hustle Jobs is a job portal,<br> online job management system<br> developed by Hustle ltd.</p>
            </div>
            
            <div class="links-container">
                <h1 class="quick-links">Quick Links</h1>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/jobs">Job List</a></li>
                    <li><a href="/employer">Employer</a></li>
                    <li><a href="/employee">Employee</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="hustle-contact-container">
                <h1 class="hustle-contacts">Hustle Job Contacts</h1>
                <p>Address : Nairobi, Nairobi CBD PO.BOX 3057</p>
                <p>Email : <a href="mailto:hustlejobs@gmail.com">hustlejobs@gmail.com</a></p>
                <p>Phone : <a href="tel:+254736431233">+254 736 431 233</a></p>
            </div>
        </footer>
    </div>
</body>
</html>
