<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/employee/profile.css">
    <title>profile</title>
</head>
<body>
    
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/home">HustleJobs</a>
            </div>
            <div class="navlinks">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/jobs">Job List</a></li>
                    <li><a href="/employer">Employer</a></li>
                    <li><a href="/employee">Employee</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="registration">
                <ul>
                    <li><a href="/logout">Logout</a></li>            
                 </ul>
            </div>
        </div>
    </div>

    <div class="details-container">
        <div class="sidebar">
            <ul>
                <li><a href="/profile"><i>Profile</i></a></li>
                <li><a href="/change-pass"><i>Change Password</i></a></li>
                <li><a href="/profession"><i>Professional Qualification</i></a></li>
                <li><a href="/language"><i>Language Proficiency</i></a></li>
                <li><a href="/training"><i>Training & workshop</i></a></li>
                <li><a href="/referees"><i>Referees</i></a></li>
                <li><a href="/academics"><i>Academic Qualification</i></a></li>
                <li><a href="/experience"><i>Working Experience</i></a></li>
                <li><a href="/applied-jobs"><i>Applied Jobs</i></a></li>
            </ul>
        </div>

        <div class="details">
            <h1>Referee</h1>
            <form action="/referee" method="POST">
                <div class="form-row">
                    <div class="referee_name-section">
                        <label for="referee-name">Referee Name</label><br>
                        <input type="text" id="name" name="name" placeholder="Enter referee name">
                    </div>
                    <div class="referee_email-section">
                        <label for="referee-email">Referee Email</label><br>
                        <input type="text" id="email" name="email" placeholder="Enter referee email">
                    </div>
                </div>

                <div class="form-row">
                    <div class="referee_title-section">
                        <label for="referee-title">Referee Title</label><br>
                        <input type="text" id="title" name="title" placeholder="Enter referee title">
                    </div>
                    <div class="referee_phone-section">
                        <label for="referee_phone">Referee Phone</label><br>
                        <input type="text" id="phone" name="phone" placeholder="Enter referee phone number">
                    </div>
                </div>

                <div class="form-row">
                    <div class="institution-section">
                        <label for="institution-label">Institution Name</label><br>
                        <input type="text" id="institution" name="institution" placeholder="Enter institution name">
                    </div>
                </div>

                <button type="submit">Submit</button>

            </form>
        </div>
    </div>

    <div class="footer">
        <footer>
            <div class="about-container">
                <h1 class="about-heading">About Hustle Jobs</h1>
                <p>Hustle Jobs is a job portal,<br> online job management system<br> developed by Hustle ltd.</p>
            </div>
            
            <div class="links-container">
                <h1 class="quick-links">Quick Links</h1>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/jobs">Job List</a></li>
                    <li><a href="/employer">Employer</a></li>
                    <li><a href="/employee">Employee</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="hustle-contact-container">
                <h1 class="hustle-contacts">Hustle Job Contacts</h1>
                <p>Address : Nairobi, Nairobi CBD PO.BOX 3057</p>
                <p>Email : <a href="mailto:hustlejobs@gmail.com">hustlejobs@gmail.com</a></p>
                <p>Phone : <a href="tel:+254736431233">+254 736 431 233</a></p>
            </div>
        </footer>
    </div>
</body>
</html>
