<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/css/contact.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/home">HustleJobs</a>
            </div>
            <div class="navlinks">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/jobs">Job List</a></li>
                    <li><a href="/employer">Employer</a></li>
                    <li><a href="/employee">Employee</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="registration">
                <ul>
                    <li><a href="/">Login</a></li>
                    <li><a href="/signup">Signup</a></li>     
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="contact-container">
            <h1>Contact us for help</h1>
            <form action="/contact" method="POST">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required><br>
                <label for="message">Message</label><br>
                <textarea class="message" id="message" name="message" rows="15" cols="76" placeholder="Message" required></textarea><br>
                <input type="submit" value="Send Message">
            </form>
        </div>

        <div class="info-container">
            <ul class="address-list">
                <li>
                    <h5>Address</h5>
                    <address>Nairobi, <br/> PO.BOX 3056, <br/> Nairobi</address>
                </li>
                <li>
                    <h5>Email</h5><a href="mailto:hustlejobs@gmail.com">hustlejobs@gmail.com</a>
                </li>
                <li>
                    <h5>Phone Number</h5><a href="tel:+254736431233">+254 736 431 233</a>
                </li>
                <li>
                    <h5>Social Networks</h5>
                    <div class="contact-social">
                        <a href="#" title="Facebook"><i class="material-icons">facebook</i></a>
                        <a href="#" title="Twitter"><i class="material-icons">X</i></a>
                        <a href="#" title="Instagram"><i class="material-icons">instagram</i></a>
                    </div>
                    
                </li>   
            </ul>
        </div>
    </div>


    <div class="footer">
        <footer>
            <div class="about-container">
                <h1 class="about-heading">About Hustle Jobs</h1>
                <p>Hustle Jobs is a job portal,<br> online job management system<br> developed by Hustle ltd.</p>
            </div>
            
            <div class="links-container">
                <h1 class="quick-links">Quick Links</h1>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/jobs">Job List</a></li>
                    <li><a href="/employer">Employer</a></li>
                    <li><a href="/employee">Employee</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="hustle-contact-container">
                <h1 class="hustle-contacts">Hustle Job Contacts</h1>
                <p>Address : Nairobi, Nairobi CBD PO.BOX 3057</p>
                <p>Email : <a href="mailto:hustlejobs@gmail.com">hustlejobs@gmail.com</a></p>
                <p>Phone : <a href="tel:+254736431233">+254 736 431 233</a></p>
            </div>

            
        </footer>


    </div>


</body>
</html>
