<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="/static/images/hustle.png" class="home-pic" alt="Home Picture">
            <div class="navbar">
                <div class="logo">
                    <a href="/home">HustleJobs</a>
                </div>
                <div class="navlinks">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/jobs">Job List</a></li>
                        <li><a href="/employer">Employer</a></li>
                        <li><a href="/employee">Employee</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="registration">
                    <ul>
                        <li><a href="/profile">Profile</a></li> 
                    </ul>
                </div>
            </div>
            <select class="form-control transparent-select" name="category" required>
                <option value="">-Select category-</option>
                <option value="Accounting">Accounting</option>
                <option value="Auditing">Auditing</option>
                <!-- Add other options here -->
            </select>
        </div>
    </div>

    <div class="random-jobs">
        <p>Random jobs</p>
    </div>

    <div class="curr-jobs">
        <p>Current jobs</p>
    </div>

    <div class="footer">
        <footer>
            <div class="about-container">
                <h1 class="about-heading">About Hustle Jobs</h1>
                <p>Hustle Jobs is a job portal,<br> online job management system<br> developed by Hustle ltd.</p>
            </div>
            
            <div class="links-container">
                <h1 class="quick-links">Quick Links</h1>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/jobs">Job List</a></li>
                    <li><a href="/employer">Employer</a></li>
                    <li><a href="/employee">Employee</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="hustle-contact-container">
                <h1 class="hustle-contacts">Hustle Job Contacts</h1>
                <p>Address : Nairobi, Nairobi CBD PO.BOX 3057</p>
                <p>Email : <a href="mailto:hustlejobs@gmail.com">hustlejobs@gmail.com</a></p>
                <p>Phone : <a href="tel:+254736431233">+254 736 431 233</a></p>
            </div>

            
        </footer>

</body>
</html>
