<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar-div">
        <div class="navbar">
            <div class="logo">
                <a href="home.html">Logo</a>
            </div>
            <div class="navlinks">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="jobs.html">Job List</a></li>
                    <li><a href="employer.html">Employer</a></li>
                    <li><a href="employee.html">Employee</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="registration">
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main-search">
            <form action="job-lists.html" method="GET" autocomplete="off">
                <div class="form-holder">
                    <div class="row gap-0">
                        <div class="col">
                            <img src="images/hustle.png" class="home-pic" alt="Home Picture">
                            <select class="form-control transparent-select" name="category" required>
                                <option value="">-Select category-</option>
                                    <option style="color:black" value="Accounting">Accounting</option>
                                    <option style="color:black" value="Auditing">Auditing</option>
                                    <option style="color:black" value="Banking and Financial Services">Banking and Financial Services</option>
                                    <option style="color:black" value="CEO and General Management">CEO and General Management</option>
                                    <option style="color:black" value="Community and Social Devt">Community and Social Devt</option>
                                    <option style="color:black" value="Creative and Design">Creative and Design</option>
                                    <option style="color:black" value="Education and Training">Education and Training</option>
                                    <option style="color:black" value="Engineering and Construction">Engineering and Construction</option>
                                    <option style="color:black" value="Farming and Agribusiness">Farming and Agribusiness</option>
                                    <option style="color:black" value="Healthcare and Pharmaceutical">Healthcare and Pharmaceutical</option>
                                    <option style="color:black" value="HR & Administration">HR & Administration</option>
                                    <option style="color:black" value="IT and Telecoms">IT and Telecoms</option>
                                    <option style="color:black" value="Legal">Legal</option>
                                    <option style="color:black" value="Manufacturing">Manufacturing</option>
                                    <option style="color:black" value="Marketing,Media and Brand">Marketing,Media and Brand</option>
                                    <option style="color:black" value="Mining and Natural Resources">Mining and Natural Resources</option>
                                    <option style="color:black" value="Other">Other</option>
                                    <option style="color:black" value="Project & Programme Mngmnt">Project & Programme Mngmnt</option>
                                    <option style="color:black" value="Research,Science and Biotech">Research,Science and Biotech</option>
                                    <option style="color:black" value="Security">Security</option>
                                    <option style="color:black" value="Strategy and Consulting">Strategy and Consulting</option>
                                    <option style="color:black" value="Tourism and Travel">Tourism and Travel</option>
                                    <option style="color:black" value="Trades and Services">Trades and Services</option>
                                    <option style="color:black" value="Transport and Logistics">Transport and Logistics</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="random-jobs">
        <p>Random jobs</p>
    </div>

    <div class="curr-jobs">
        <p>Current jobs</p>
    </div>
</body>
</html>
