body {
    background-color: darkgrey;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.home-pic {
    width: 100vw;
    height: auto;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navlinks ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navlinks li {
    margin: 0 15px;
}

.navlinks a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.registration ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.registration li {
    margin-left: 10px;
}

.registration a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
}

.transparent-select {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 10px;
    font-size: 18px;
    color: grey;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 5px;
    appearance: none;
}

.random-jobs, .curr-jobs {
    padding: 20px;
    background-color: darkgrey;
    margin: 20px 0;
    border: 1px solid darkgrey;
}
